<div class='random-beer'>
  {{#each randomBeer}}
    <div class='container'>
      <img class='img-random-beer' src={{image_url}} />
      <h1>{{name}}</h1>
      <h4>{{tagline}}</h4>
      <p>{{description}}</p>
      <h4>{{food_pairing}}</h4>
      <h4>{{brewer_tips}}</h4>
    </div>

  {{/each}}

</div>